html {
    background: #B9251f;
}
body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    margin: 0 auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
.title {
    color: #B9251f;
    font-weight: bold;
    text-align: center;
    background-color: #FFF;
    /*background-color: #14cd78;*/
    border-radius: 20px;
}
h2 {
    position: top;
    color: #B9251f;
    font-weight: bold;
    text-align: center;
    background-color: #FFF;
    /*background-color: #14cd78;*/
    border-radius: 20px;
}
form {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    line-height: inherit;
    display: block;
    /*background-color: #14cd78;*/
}
body form label {
    text-shadow: 1px 2px black;
}
body form input {
    border-radius: .6em;
}
body form button {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 1em;
    color: black;
    background-color: #d9b525;
    font-size: 1em;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.field1 {
    color: #FFF;
    font-size: .8em;
    font-weight: bold;
}
footer {
    margin-top: 80px;
    background: #B9251f;
    font-size: .6em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #121212;
}
footer a {
    background: #B9251f;
    font-family: 'Roboto Condensed', sans-serif;
    color: #121212;
    padding-right: 10px;
}
@media all and (max-width: 1024px) {
    html {
        font-size: .9em;
    }
    h1 a {
        visibility: hidden;
    }
    .footer a {
    color:aqua;
    }
}
.abouttitle{
    text-align: center;
    color: white;
    font-size: 1em;
}

.aboutbox{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}